/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
    position: absolute;
    background-color: white;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.container-fluid {
    height: 100%;
    border-top: 1px solid #BFBFBF
}


.body-main.no-sidebar {
/*    margin-left: 0 !important;*/
    margin-bottom: 45px;
    margin-left: 70px !important;
}

.body-main {
    transition: margin-left 0.3s;
    margin-bottom: 45px;
    background-color: #E9EFFD
}

.miancenter {
    background-color: #E9EFFD;
    overflow-y: auto !important;
}
.body-main {
    background-color: #E9EFFD;
    overflow-y: auto !important;
}